<% @memos.each do |memo| %>
  <div class="items_wrapper">
    <ul>
      <li class="items"><a href='/memos/<%= "#{h(memo['id'])}" %>' class="item"><%= h(memo['title']) %></a></li>
    </ul>
 </div>
<% end %>
<div class="button_wrapper">
  <p><a href='/memos/new' class="button">追加</a></p>
</div>
