<form action="/memos/:id" method="post">
  <div class="input_wrapper">
    <p><input class="title" type="text" name="title" id="title" maxlength="20" placeholder="タイトル書きやがれ" required></p>
    <p><textarea class="content" name="content" id="content" rows="8" maxlength="100" placeholder="メモ書きやがれ"></textarea></p>
  </div>
  <div class="button_wrapper">
    <p><input type="submit" value="保存" class="button"></p>
    <p><a href='/memos' class="button">戻る</a></p>
  </div>
</form>
