<% @memo.each do |memo| %>
  <form action="/memos/<%= h(memo[:id]) %>" method="post">
  <div class="input_wrapper_show">
    <input type="hidden" name="_method" value="delete">
    <p class="title_show" ><%= h(memo[:title]) %></P>
    <p class="content_show"><%= h(memo[:content]) %></p>
  </div>
    <div class="button_wrapper">
      <p><a href='/memos/<%= h(memo[:id]) %>/edit' class="button">編集</a></p>
      <p><input type="submit" value="削除" class="button"></p>
    </div>
  </form>
<% end %>
